/* body{
  background-color: antiquewhite;
}
.App {
  text-align: center;
}

.input_div{
  margin-top: 50px;
}

.input{
  margin-left: 15px;
}
.label{
  font-size: 25px;
  font-weight: 900;
  color: red;
}
.submit{
  color: red;
  padding: 15px 15px;
  font-size: 15px;
  font-weight: 900;
  background-color: whitesmoke;
} */

/* todo app css - start */

body{
  background-color: #352f5b;
}

.container{
  max-width: 450px;
}

input[type=text],
input[type=text]:focus{
  color: black;
  border: none;
  background: white;
}

li.list-group-item{
  background-color: #423a6f;
  color: #F8F9FA;
}

.delete{
  cursor: pointer;
}

label.add{
  margin-bottom: 15px;
  color: white;
  margin: 30px;
}

.filtred{
  display: none !important;
}

.form-add{
  margin-bottom: 30px;
}

.todo-list-division{
  display: flex;
  justify-content: space-between;
}

.submit{
  padding: 10px;
  font-weight: 500;
  margin-top: 20px;
}
.fa-trash-alt{
  margin-left: 15px;
}
/* todo app css - end */